<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <dataProviders>
      <main patch:instead="main" type="Sitecore.Support.Data.SqlServer.SqlServerDataProvider, Sitecore.Support.444444">
        <param connectionStringName="$(1)" />
        <param desc="eventQueueType">Sitecore.Support.Data.Eventing.ParallelSqlServerEventQueue, Sitecore.Support.444444</param>
        <param desc="publishQueueProviderType"></param>
        <param desc="databasePropertiesProviderType"></param>
        <Name>$(1)</Name>
      </main>
    </dataProviders>
    <settings>
      <!--  EVENT QUEUE - HISTORY ENABLED DATABASES
            Defines the pipe-separated list of database names where an Event Queue processing statistics must be written 
            into appropriate history table.
            
            Default: core|master|web
      -->
      <setting name="EventQueue.HistoryLogging.EnabledDatabases" value="core|master|web" />

      <!--  EVENT QUEUE - HISTORY DETAILS ENABLED DATABASES
            Defines the pipe-separated list of database names where an Event Queue processing details must be written 
            into appropriate history table.
            
            Default: web
      -->
      <setting name="EventQueue.HistoryLogging.DetailsEnabledDatabases" value="web" />

      <!--  EVENT QUEUE - SECURITY DISABLER
            When enabled, a security disabler is used for processing all events.
            It is not taken into account when EventQueue.HistoryEnabled is disabled.
            
            Default: true
      -->
      <setting name="EventQueue.SecurityDisabler" value="true" />
      <!--  DATABASE NAME 
            DatabaseName indicates the database where parallel execution is required.
            
            Default: web
      -->
      <setting name="EventQueue.ParallelProcessing.EnabledDatabases" value="web" />

      <!--  EVENT QUEUE THREAD - BATCH SIZE
            BatchSize indicates maximum number of events processed one-by-one before writing to log file and trying a deep sleep.
            
            Default: 1000
      -->
      <setting name="EventQueue.ParallelProcessing.BatchSize" value="1000" />

      <!--  EVENT QUEUE THREAD - DEEP SLEEP
            DeepSleep is intended to save CPU when no publish activity happen.
            After 1000 (BatchSize) attempts to get an event from empty queue system will fall asleep for 1 second before next 1000 attempts. 
            Increase this value if see high CPU utilization or when notice too many log entries "Health.EQ{1}.Count: 0"
                        
            Default: 1000 (1 second)
      -->
      <setting name="EventQueue.ParallelProcessing.DeepSleep" value="1000" />

      <!--  EVENT QUEUE THREAD - LOG INTERVAL
            LogInterval defines minimal interval between log entries generated by events processing threads.
            
            Default: 00:05:00
      -->
      <setting name="EventQueue.ParallelProcessing.LogInterval" value="00:05:00" />

      <!--  MAIN THREAD - LOG INTERVAL
            LogInterval defines minimal interval between log entries generated by main thread that reads data from the EventQueue table.
            
            Default: 00:05:00
      -->
      <setting name="EventQueue.MainThread.LogInterval" value="00:05:00" />
    </settings>
  </sitecore>
</configuration>