<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <hooks>
      <hook type="Sitecore.AdvancedSettingsInitializeHook, Sitecore.Support.444444" />
    </hooks>
    <settings>
      <!--  SYSTEM DATABASE
            Sets the name of system database to poll settings values from.
      -->
      <setting name="AdvancedSettings.SystemDatabase" value="core" />
      
      <!--  POLLING INTERVAL 
            Sets how often events should be checked in the databases.
      -->
      <setting name="AdvancedSettings.PollingInterval" value="00:00:10" />
    </settings>
  </sitecore>
</configuration>