<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <dataProviders>
      <main>
        <param desc="eventQueueType">Sitecore.Support.Data.Eventing.HistoryLoggingEventQueue, Sitecore.Support.444444</param>
      </main>
    </dataProviders>
    <settings>
      <!--  EVENT QUEUE - DATABASE NAME
            Defines the database name, Event Queue of which should be logged into history table.
            
            Default: web
      -->
      <setting name="EventQueue.DatabaseName" value="web" />
      
      <!--  EVENT QUEUE - HISTORY ENABLED
            When enabled, an Event Queue processing statistics is written into history table in the context database.  
            
            Default: true
      -->
      <setting name="EventQueue.HistoryEnabled" value="true" />

      <!--  EVENT QUEUE - HISTORY DETAILS ENABLED
            When enabled, after processing an event the separate record will be written into history table in the context database.
            
            Default: true
      -->
      <setting name="EventQueue.HistoryDetailsEnabled" value="true" />

      <!--  EVENT QUEUE - SECURITY DISABLER
            When enabled, a security disabler is used for processing all events.
            It is not taken into account when EventQueue.HistoryEnabled is disabled.
            
            Default: false
      -->
      <setting name="EventQueue.SecurityDisabler" value="false" />

      <!--  MAIN THREAD - LOG INTERVAL
            LogInterval defines minimal interval between log entries generated by main thread that reads data from the EventQueue table.
            
            Default: 00:05:00
      -->
      <setting name="EventQueue.MainThread.LogInterval" value="00:05:00" />
    </settings>
  </sitecore>
</configuration>