<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <advancedHistoryManager defaultProvider="redirecting">
      <providers>
        <clear />
        <add name="sql" type="Sitecore.AdvancedHistory.SqlServer.SqlServerAdvancedHistoryProvider, Sitecore.Support.444444" database="web" />        
      </providers>
    </advancedHistoryManager>
    <settings>
      <setting name="AdvancedHistory.Provider" value="sql" />
    </settings>
  </sitecore>
</configuration>