<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--  DATABASE NAME 
            DatabaseName indicates the database where parallel execution is required.
            
            Default: web
      -->
      <setting name="ParallelEventQueue.DatabaseName" value="web" />

      <!--  EVENT QUEUE - PARALLEL THREADS COUNT
            ParallelThreadsCount indicates total number of parallel threads that process in-memory queue that is being populated each 2 seconds from the database EventQueue table.
            
            Default: 4
      -->
      <setting name="ParallelEventQueue.ParallelThreadsCount" value="4" />
      
      <!--  EVENT QUEUE THREAD - BATCH SIZE
            BatchSize indicates maximum number of events processed one-by-one before writing to log file and trying a deep sleep.
            
            Default: 1000
      -->
      <setting name="ParallelEventQueue.EventQueueThread.BatchSize" value="1000" />

      <!--  EVENT QUEUE THREAD - DEEP SLEEP
            DeepSleep is intended to save CPU when no publish activity happen.
            After 1000 (BatchSize) attempts to get an event from empty queue system will fall asleep for 1 second before next 1000 attempts. 
            Increase this value if see high CPU utilization or when notice too many log entries "Health.EQ{1}.Count: 0"
                        
            Default: 1000 (1 second)
      -->
      <setting name="ParallelEventQueue.EventQueueThread.DeepSleep" value="1000" />

      <!--  EVENT QUEUE THREAD - LOG INTERVAL
            LogInterval defines minimal interval between log entries generated by events processing threads.
            
            Default: 00:05:00
      -->
      <setting name="ParallelEventQueue.EventQueueThread.LogInterval" value="00:05:00" />

      <!--  EVENT QUEUE - PUBLISH END SYNCHRONIZATION
            When enabled, processing publish:end:remote will be delayed by one thread until all other threads finish processing all events that are preceding to it.
            
            Default: true
      -->
      <setting name="ParallelEventQueue.EventQueueThread.PublishEndSynchronization" value="true" />

      <!--  EVENT QUEUE THREAD - PUBLISH END SLEEP
            When PublishEndRemoteSynchronization is enabled, PublishEndSleep defines sleep interval between checks if it is a right time to process 
            publish:end:remote event or it is necessary to wait. In order to keep indexes consistent and healthy, publish:end:remote must be processed 
            after all the item:*:remote events located in the queue before it (publish:end:remote will have greater timestamp value than item:*:remote ones). 
            So as soon as one of the threads receives such an event, the thread will check if other threads process events with greater timestamps rather 
            than this one, otherwise it will wait 1 second (which is controlled by this setting) before checking this again.
                        
            Default: 1000 (1 second)
      -->
      <setting name="ParallelEventQueue.EventQueueThread.PublishEndSleep" value="1000" />
    </settings>
  </sitecore>
</configuration>