<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <dataProviders>
      <main>
        <param desc="eventQueueType">Sitecore.Support.Data.Eventing.ParallelEventQueueWithSeparateQueues, Sitecore.Support.444444</param>
      </main>
    </dataProviders>
  </sitecore>
</configuration>